.latest {
  &__title {
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 1.5em;
    color: #231f20;
  }
  &__cards {
    display: flex;
    gap: 30px;
  }
  &__card {
    cursor: default;
    padding: 14px 35px 14px 17px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius: 12px;
    max-width: 255px;
    width: 100%;
    &:hover{
        box-shadow: 4px 4px 24px 4px rgba(0, 0, 0, 0.06);
        transform: scale(1.050);
    }
    &__title {
      font-size: 1.125em;
      color: #000;
      margin-bottom: 4px;
    }
    &__price {
      font-weight: 800;
      color: #f7d22d;
    }
  }
  &__img {
    width: 70px;
    height: 70px;
  }
}
