.basket {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
  max-width: 160px;
  max-height: 42px;
  width: 100%;
  background: #f7d22d;
  padding: 13px 24px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #313131;
    color: #f7d22d;
    span{
        background: #f7d22d;
    }
  }
  span {
    width: 2px;
    height: 23px;
    display: inline-block;
    background-color: #231F20;
    margin: 0 10px
  }
}
